* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color {
    background-color: rgb(0, 0, 0);
}

.imgerror {
    text-align: center;
    margin-top: 5%;
}

.botonVolver {
    background-color: rgb(255, 255, 255);
    
}